body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto; 
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
} 

.container {
    flex: 1; 
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
    z-index: 100 !important; 
}
 
#navbarNavAltMarkup { 
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
    z-index: 100 !important;
}  

.features {
    display: none !important;
}

.fa-compass {
    color: #fe424d; 
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.search-btn {
    background-color: #fe424d !important;
    color: #fff !important;
    border-radius: 25px !important;
    padding: 0 1rem;
}

.search-btn:hover {
    background-color: #fe424d !important;
    color: #fff;
}

.search-btn i {
    display: inline;
    margin-right: 0.5rem;
}

.search-inp {
    padding: 0.5rem 3rem !important;  
}
/* Footer */

.f-info   {
    height: 5rem;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}

.f-info-socials ,.f-info-links {
    display: flex;
    justify-content: center; 
}

.f-info-links a {
    text-decoration: none;
    color: #222222; 
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-socials , .f-info-links {
    width: 100%;
}
 
.f-info-links a:hover {
    text-decoration: underline; 
    color: #222222;
}
 
/* Cards */

 
.listing-card {
    border: none !important;
    margin-bottom: 2rem  !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}
 
.card a {
    text-decoration: none;
    color: black;
}

/* New Page */

.add-btn , .edit-btn {
    background-color: #fe424d !important; 
}

/* Edit Page */

.edit-btn {
    background-color: #fe424d !important; 
}
 
/* Show Page */

.show-img {  
    height: 30vh;
}

.show-card {
    padding-left: 0 !important ;
    padding-right: 0 !important ;

}

/* Map */

#map { 
    height: 400px;
    z-index: 50;
    /* width: 80vh; */
}

 

.inner-div {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: rgba(255, 0, 0, 0.6); 
    position: relative;
    right: -20px; 
     
}

.fa-house {  
   font-size: 1.4rem;
   position: absolute;
   translate: 9px 10px;  
}

 
/* filter */

.filters {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
}

.filters a {
    text-decoration: none;
    color: black;
}

.filter {
    text-align: center; 
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.5;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
    text-decoration: underline;
}
.filter i {
    font-size: 1rem;
}
.filter p {
    font-size: 0.8rem;
}
 
.fa-angle-left ,.fa-angle-right:hover {
    cursor: pointer;
}


.filter-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* width: 73%; */
    /* overflow-x: scroll; */
}
.card-text i {
    display: none;
}

.switch-container { 
    border: 1px solid black;
    border-radius: 2rem; 
    height: 3.25rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-left: 3rem; 
    
} 
/* Mobile Friendly Style */


/* Login Signup Page */

.login-form , .sign-up {
    width: 50% !important;
    margin: 0 auto;
}

@media(width < 992px) {
    .sign-up , .login-form {
        width: 90% !important;
    }
}

@media(width < 768px) {
    .sign-up , .login-form {
        width: 90% !important;
    }
}

@media(width < 576px) {
    .sign-up , .login-form {
        width: 80% !important;
    }
}

/* Show Page */

.show-page-container {
    display: flex;
    flex-direction: column;
}

.heading-container > h3 {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}

.show-card {
    width: 50% !important;
    margin: 0 auto;
}

.btns {
    display: flex; 
    justify-content: flex-start;
    
}

.btns > div {
    margin-right: 1rem;
}

.review-card {
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-left: 0.75rem;
    margin-bottom: 0.5rem;
}

.map-container {  
    /* width: 50% !important; */
    margin: 0 auto;
}

@media(width < 992px) {
    .heading-container > h3 {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 0.5rem;
    }

    .show-card {
        width: 70% !important;
        margin: 0 auto;
    }

    .map-container {  
        /* width: 70% !important; */
        margin: 0 auto;
    }
     
}


@media(width < 768px) {
    .show-card {
        width: 80% !important;
        margin: 0 auto;
    }

    .heading-container > h3 {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 0.5rem;
    }

    .map-container {  
        /* width: 80% !important; */
        margin: 0 auto;
    }

    
}
 

@media (width < 576px) {
    .show-card {
        width: 80% !important;
        margin: 0 auto;
         
    }

    .heading-container > h3 {
        width: 80%;
        margin: 0 auto !important;
        padding-bottom: 0.5rem;
    }
    
    .map-container {  
        /* width: 100% !important; */
        margin: 0 auto;
    }

}

/* Edit Page */

.edit-card {
    width: 60% !important;
    margin: 0 auto;
}

@media(width < 991px) {
    .edit-card {
        width: 75% !important;
    }
}

@media(width < 768px) {
    .edit-card {
        width: 95% !important;
    }
} 

@media(width < 450px) {
    .edit-card {
        width: 90% !important;
    }
}

/* Index Page */



@media(width < 576px) {
    
    .features {
        display: inline !important;
    }

    .filters {
        display: none !important;
    }

    .listing-container::before {
        content: "All Listings" !important;
        font-size: 2rem !important;
        display: block !important;  
        margin: 0.4rem 1rem !important;
    }

    .switch-container {
        margin: 0 auto !important;
    }

    .card-img-top {
        border-radius: 1rem !important;
        width: 80% !important;
        height: 80% !important;
        object-fit: cover !important;
    }

    .listing-card   { 
        margin-bottom: 0.7rem !important; 
    }

    
}

.alert-danger , .alert-warning {
    width: 60% !important;
    margin: 0 auto !important;
}

@media(width < 576px) {
    .alert-danger , .alert-warning {
        width: 80% !important;
        margin: 0 auto !important;
    }
}

/* New Page */

.new-container {
    width: 60% !important;
    margin: 0 auto;
}

@media(width < 991px) {
    .new-container {
        width: 75% !important;
    }
}

@media(width < 768px) {
    .new-container {
        width: 95% !important;
    }
} 

@media(width < 450px) {
    .new-container {
        width: 90% !important;
    }
}